<div class="block">
  <div class="mx-auto max-w-2xl mt-24">
    <div class="text-center">
      <h1 class="text-3xl font-bold">Currency Converter</h1>
      <p class="mt-2">The best conversion from CAD to any other currency</p>
    </div>
    <form (submit)="onSubmit($event)">
      <div
        class="mx-auto bg-white px-8 py-4 mt-16 ring-1 ring-gray-200 shadow-lg"
      >
        <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label
              for="amount"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Amount (CAD)</label
            >
            <div class="mt-2">
              <input
                type="number"
                name="amount"
                id="amount"
                placeholder="0.00"
                autocomplete="given-name"
                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
              />
            </div>
          </div>
          <div class="sm:col-span-3">
            <label
              for="currency"
              class="block text-sm font-medium leading-6 text-gray-900"
              >To</label
            >
            <div class="mt-2">
              <select
                id="currency"
                name="currency"
                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
              >
                @for (currency of currencies; track currency.currencyCode) {
                <option value="{{ currency.currencyCode }}">
                  {{ currency.currencyCode }} - {{ currency.currencyName }}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="col-span-6" [class.hidden]="firstCall">
            <p class="font-semibold text-gray-500">1 Canada Dollar =</p>
            <span class="font-semibold text-3xl text-stalete-500">{{
              convertedAmount
            }}</span>
          </div>
          <div class="sm:col-span-6 justify-self-end">
            <button
              type="submit"
              class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Convert
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
